body
{
  margin: 0;
  padding: 0;
}

div
{
  margin: 0;
  padding: 0;
}

p.test
{
  margin: 0;
  padding: 0;
  display: inline-block;
  border: 2px dotted black;
  line-height: 25px;
  vertical-align: top;
}


